<?php
// Default values for unconfigured users
$config['gravatar_enabled'] = false;
$config['gravatar_size'] = 128;
$config['gravatar_rating'] = 'g'; // Possible values 'g', 'pg', 'r', 'x'

// Server side configuration (uncomment to change)
//$config['gravatar_https'] = false; // It is only server to server
// This normally should not be changed
//$config['gravatar_server'] = 'www.gravatar.com';
//$config['gravatar_photo_api'] = '%s://%h/avatar/%m?s=%z&r=%r&d=404'; // See README.md for replacements
